
-- Name: players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.players (
    id bigint NOT NULL,
    discord_id character varying(255) NOT NULL,
    ign character varying(255) NOT NULL,
    is_staff boolean,
    uuid character varying(255) NOT NULL,
    faction bigint NOT NULL,
    character_id bigint
);


ALTER TABLE public.players OWNER TO postgres;

--
-- Name: players_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.players ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.players_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: rpchars; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rpchars (
    id bigint NOT NULL,
    version integer,
    deleted boolean,
    gear character varying(255),
    heal_ends timestamp without time zone,
    injured boolean,
    is_healing boolean,
    link_to_lore character varying(255),
    name character varying(255),
    pvp boolean,
    started_heal timestamp without time zone,
    title character varying(25),
    bound_to bigint,
    current_region character varying(255) NOT NULL,
    owner_id bigint,
    past_char_id bigint
);


ALTER TABLE public.rpchars OWNER TO postgres;

--
-- Name: rpchars_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.rpchars ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.rpchars_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.players (id, discord_id, ign, is_staff, uuid, faction, character_id) VALUES (1, '261173268365443074', 'Luktronic', false, 'cefabe13fda44d378c5d7292724f1514', 10, 1);
INSERT INTO public.players (id, discord_id, ign, is_staff, uuid, faction, character_id) VALUES (2, '244463773052567553', 'mirak441', false, '4cd6b222b3894fd59d85ac90aa2c2c46', 10, 2);
INSERT INTO public.players (id, discord_id, ign, is_staff, uuid, faction, character_id) VALUES (3, '323522559096258582', 'HabKeinTeammate', false, '84b6a14958ec4b2bb9b479328526651d', 10, 3);


--
-- Data for Name: rpchars; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.rpchars (id, version, deleted, gear, heal_ends, injured, is_healing, link_to_lore, name, pvp, started_heal, title, bound_to, current_region, owner_id, past_char_id) VALUES (1, 0, false, 'All', NULL, false, false, NULL, 'Belegorn', true, NULL, 'King of Gondor', NULL, '263', 1, NULL);
INSERT INTO public.rpchars (id, version, deleted, gear, heal_ends, injured, is_healing, link_to_lore, name, pvp, started_heal, title, bound_to, current_region, owner_id, past_char_id) VALUES (2, 0, false, 'Full Gondolin', NULL, false, false, NULL, 'Firyawe', true, NULL, 'High-King of Gondor', NULL, '263', 2, NULL);
INSERT INTO public.rpchars (id, version, deleted, gear, heal_ends, injured, is_healing, link_to_lore, name, pvp, started_heal, title, bound_to, current_region, owner_id, past_char_id) VALUES (3, 0, false, 'manyullyn', NULL, false, false, NULL, 'Whomegalul', true, NULL, 'The one and only', NULL, '263', 3, NULL);


--
-- Name: players_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.players_id_seq', 3, true);


--
-- Name: rpchars_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rpchars_id_seq', 3, true);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id);


--
-- Name: rpchars rpchars_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT rpchars_pkey PRIMARY KEY (id);


--
-- Name: players uk_59owtm6p9ubo516h8sqiefm18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT uk_59owtm6p9ubo516h8sqiefm18 UNIQUE (uuid);


--
-- Name: rpchars uk_c5945ixwr1xfvnhgl4xmi0cpu; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT uk_c5945ixwr1xfvnhgl4xmi0cpu UNIQUE (name);


--
-- Name: players uk_n8wow9trjj08swysdxpd71a2l; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT uk_n8wow9trjj08swysdxpd71a2l UNIQUE (discord_id);


--
-- Name: players uk_qtxh40udrkc84tcpyk1iqpaee; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT uk_qtxh40udrkc84tcpyk1iqpaee UNIQUE (ign);


--
-- Name: rpchars fk9md3q928g8h1qdga9oy5kofkx; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT fk9md3q928g8h1qdga9oy5kofkx FOREIGN KEY (owner_id) REFERENCES public.players(id);


--
-- Name: players fk9wq5r8r1dcptb4uk7lgnyl1jb; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT fk9wq5r8r1dcptb4uk7lgnyl1jb FOREIGN KEY (character_id) REFERENCES public.rpchars(id);


--
-- Name: rpchars fk_bound_to; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT fk_bound_to FOREIGN KEY (bound_to) REFERENCES public.armies(id);


--
-- Name: rpchars fk_current_region; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT fk_current_region FOREIGN KEY (current_region) REFERENCES public.regions(id);


--
-- Name: players fk_faction; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT fk_faction FOREIGN KEY (faction) REFERENCES public.factions(id);


--
-- Name: rpchars fkacr0s3u3mga3wxopuqqmud04; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rpchars
    ADD CONSTRAINT fkacr0s3u3mga3wxopuqqmud04 FOREIGN KEY (past_char_id) REFERENCES public.players(id);


--
-- PostgreSQL database dump complete
--

