/* Borders */

.dashboard-view vaadin-board-row > * {
  border-bottom: 1px solid var(--lumo-contrast-10pct);
  border-right: 1px solid var(--lumo-contrast-10pct);
}

.dashboard-view vaadin-board-row.small > * {
  border-right: none;
}

.dashboard-view vaadin-board-row.medium > *:nth-child(even),
.dashboard-view vaadin-board-row.medium > *:only-child {
  border-right: none;
}

.dashboard-view vaadin-board-row.large > *:last-child {
  border-right: none;
}
